


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>InfoDelivery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    {% stylesheets 'bundles/layout/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{path('homepage')}}">InfoDelivery</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="{{path('homepage')}}">Start</a></li>
                    <li class="active"><a href="{{path('order')}}">Zamówienia</a></li>
                    <li class="active"><a href="{{path('service')}}">Usługi</a></li>
                    <li style="padding-left: 350px"><a href="#about">O projekcie</a></li>
                    {% if app.user %}
                        <li><a href="{{path('security_logout')}}">Wyloguj</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
{% block container %}

{% endblock %}
</div> <!-- /container -->


</body>
</html>
