{% extends "LayoutBundle::layout.html.twig" %}

{% block container %}
{% if queueingCustomers %}
    <h4><a href="{{path('queue_serve_next', {id:queue.id})}}">Przyjmij kolejną osobę</a></h4>
    <table class="table">
        <tr><th>pozycja</th><th>Telefon</th><th>data dołączenia</th><th>stan</th><th>akcje</th></tr>

        {% for queingCustomer in queueingCustomers %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{queingCustomer.customer.phone}}</td>
                <td>{{queingCustomer.joinedAt.format("H:i:s")}}</td>
                <td>
                    {% if queingCustomer.state == constant('OpenApi\\QueuesBundle\\Entity\\QueueingCustomer::STATE_WAITING') %}
                        Oczekuje
                    {% else %}
                        Obsługiwany
                    {% endif %}
                </td>
                <td>
                    {% if queingCustomer.state == constant('OpenApi\\QueuesBundle\\Entity\\QueueingCustomer::STATE_BEING_SERVED') %}
                        <a href="{{path('queue_customer_served', {id: queingCustomer.id })}}">Obsłużony</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3>Nie ma klientów w kolejce :(</h3>
{% endif %}



{%endblock %}