{% extends 'LayoutBundle::layout.html.twig' %}

{% block container%}
    <h1>Nowa usługa</h1>

    <form action="{{ path('service_create') }}" method="post" {{ form_enctype(form) }}>

        {{ form_label(form.name)}}
        {{ form_widget(form.name)}}

        {{ form_label(form.owner)}}
        <input type="text" id="openapi_infodeliverybundle_servicetype_owner" name="openapi_infodeliverybundle_servicetype[owner]" required="required" maxlength="100" value="{{app.user.username}}" disabled="disabled">
        {{ form_widget((form._token))}}
        <p>
            <button type="submit">Zapisz</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('service') }}">
            Wróć do listy
        </a>
    </li>
</ul>
{% endblock %}
